* {
    margin: 0;
    background-color: #2e2e2e;
}

.title {
    text-align: center;
    margin-top: 30px;
}

.box {
    width: 100%;
}

.button {
    cursor: pointer;
    border: none;
    font-size: 30px;
    margin-top: 30px;
}

.container-button {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.container {
    color: white;
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.game-container {
    display: flex;
    flex-direction: column;
}

.score-container {
    display: flex;
    flex-direction: column;
}

.separation {
    margin-top: 20px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

/* ===== HISTORY ===== */

.history-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.title-history {
    text-align: center;
    margin-bottom: 20px;
}

#game-history {
    width: 15%;
    border-collapse: collapse;
}

#game-history th,
#game-history td {
    padding: 8px;
    text-align: center;
}

#game-history th {
    background-color: #f2f2f2;
}